* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* loading animation styling */
.circle #d0 {
    --i: 0;
}

.circle #d1 {
    --i: 1
}

.circle #d2 {
    --i: 2
}

.circle #d3 {
    --i: 3;
}

.circle #d4 {
    --i: 4
}

.circle #d5 {
    --i: 5
}

.circle #d6 {
    --i: 6;
}

.circle #d7 {
    --i: 7
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-color: hsl(253, 38%, 15%); */
    background-color: hsl(217, 19%, 24%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader .circle {
    --circle-size: 100px;
    /* adjust this to change diameter of rotation */
    height: var(--circle-size);
    width: var(--circle-size);
    /* background-color: blue; */
    border-radius: 50%;
    position: relative;
}

.loader .dot {
    --total-dots: 8;
    --duration: 3000ms;
    --dot-decrement: calc(1px * var(--i));
    --dot-size: calc(16px - var(--dot-decrement));
    height: var(--dot-size);
    width: var(--dot-size);
    background-color: hsl(150, 100%, 66%);
    position: absolute;
    left: calc(50% - var(--dot-size) / 2);
    top: calc(0 - var(--dot-size) / 2);
    transform-origin: calc(var(--dot-size) / 2) calc((var(--circle-size) / 2) +var(--dot-size) / 2);
    animation: spin var(--duration) ease-out infinite;
    animation-delay: calc(((var(--duration) / 2) / var(--total-dots)) * var(--i));
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    50%,
    100% {
        transform: rotate(360deg);
    }
}